.dropable {
    background-color: #555;
    width: 250px;
    border-radius: 3px;
    height: auto;
    margin: 32px;
    display: flex;
    flex-direction: column;
}

.drop-zone {
    width: 100%;
    margin: 10px 0;
    background-color: #ababab;
    border-radius: 3px;
    height: 50px;
    display: none;
}

.show {
    display: flex;
}
